<%- model_class = Pipe -%>
<div class=	"row">
	
  <%= link_to "Fetch new data",
            root_path,
            :class => 'btn btn-primary fetch-new' %>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>


</div>

<div class="content-pipes">
  <% @pipes.each do |pipe| %>
  	<div class="pipe col-sm-4">
  	  <h2><%= pipe.name %></h2>
  	  <p><%= pipe.updated_at %></p>
  	  <div class="hover-options-pipe">
  	  	<%= link_to "View Pipe", pipes_path(pipe.id), :class => 'btn btn-primary hover-pipe' %>
  	  </div>
  	</div>
  <% end %>
     

</div>
    

